---
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';
import PostsByYear from '../../components/PostsByYear.astro';

type BlogPost = CollectionEntry<'blog'>;
const title = 'Todos Mis Posts';
const description = 'Espacio donde comparto cómo resuelvo máquinas, retos, writeups de ciberseguridad y CTF. Subo notas, explicaciones y recursos sobre las técnicas, herramientas e IA que utilizo, todo pensado para APRENDER, PRACTICAR y también APORTAR a la comunidad.';

const posts = (await getCollection('blog')).sort((a: BlogPost, b: BlogPost) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<BaseLayout
	title={title}
	description={description}
>
  <div class='container'>
    <div class="mb-10">
      <h1 class="text-3xl font-bold mb-2">{title}</h1>
      <p class="text-zinc-700 dark:text-zinc-300 text-lg">{description}</p>
    </div>
    <PostsByYear posts={posts}/>
  </div>
</BaseLayout>
